
.body-m-bold, .heading-xl, .heading-l, .heading-m, .heading-s 
{
    font-weight: 600;
    color: $color-Gunmetal;
}

.heading-xl 
{
    font-size: 3rem;
}

.heading-l 
{
    font-size: 2rem;
}

.heading-m 
{
    font-size: 1.5rem;
}

.heading-s 
{
    font-size: 1.25rem;
}

.body-s 
{
    font-size: .875rem;
}


@media(min-width:1440px)
{
    .heading-xl {
        font-size: 4rem;
    }

    .heading-l 
    {
        font-size: 3rem;
    }

}